{% extends "base.html" %}
{% block content %}
{% load static %}

<div>
    <h1 class="font-bold text-3xl mb-10 dark:text-white">Institutions</h1>
    {% if institutions %}
    <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 ">
        {% for inst in institutions reversed %}
        <a href="{% url 'institution_detail' inst.id %}">
            <div class="border-gray-300 border rounded-md p-4 hover:bg-gray-200">
                <div class="flex flex-row space-x-2">
                    <div>
                        <img src="{% if inst.photo_dirigeant %}{{inst.photo_dirigeant.url}}{% else %}{% static "profil.jpg" %}{% endif %}" class="rounded-full h-10 w-10" />
                    </div>
                    <div>
                        <p class="font-medium text-gray-700 dark:text-gray-50">{{ inst.nom|truncatechars:30}}</p>
                        <p class="text-gray-500 text-sm dark:text-gray-50">Par {{ inst.dirigeant|truncatechars:32 }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
        <p class="font-light text-sm text-gray-600 dark:text-gray-100">Aucune institution n'a été créer pour l'instant</p>
    {% endif %}
    
</div>

{% endblock content %}