{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="h-full">
    <h1 class="font-bold text-3xl mb-10 dark:text-white">Progressions</h1>
    <div>
        <form method="get" class="mb-4 p-4 bg-white rounded shadow-md flex items-center space-x-4">
            <div>
                <label for="year" class="block text-sm font-medium text-gray-700">Année :</label>
                <input type="number" id="year" name="year" value="{{ selected_year }}" min="2000" max="2100" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <div>
                <label for="trimestre" class="block text-sm font-medium text-gray-700">Trimestre :</label>
                <select id="trimestre" name="trimestre" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option value="all" {% if selected_trimestre == 'all' %}selected{% endif %}>Tous</option>
                    <option value="1" {% if selected_trimestre == '1' %}selected{% endif %}>Trimestre 1</option>
                    <option value="2" {% if selected_trimestre == '2' %}selected{% endif %}>Trimestre 2</option>
                    <option value="3" {% if selected_trimestre == '3' %}selected{% endif %}>Trimestre 3</option>
                    <option value="4" {% if selected_trimestre == '4' %}selected{% endif %}>Trimestre 4</option>
                </select>
            </div>
            <div class="pt-6">
                <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Filtrer</button>
            </div>
        </form>
        <div class="grid md:grid-cols-2 gap-2 mb-10">
            <div class="border border-gray-200 rounded-lg p-2">
                {{ bar_div|safe }}
            </div>
            
            <div class="border border-gray-200 rounded-lg p-2">
                {{ donut_div|safe }}
            </div>
            
            <div class="border border-gray-200 rounded-lg p-2">
                {{ line_div|safe }}
            </div>
        </div>

        {% if institution_data %}
            <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 pb-20">
                {% for data in institution_data %}
                    <a href="{% url "institution_detail" data.institution.id %}" class="border border-gray-200 rounded-lg p-4 hover:bg-gray-200">
                        <p class="font-semibold dark:text-white">{{ data.institution.nom|truncatechars:34}}</p>
                        <p class="font-light text-xs dark:text-gray-50">Total des projets: {{ data.total_projets }}</p>
                        <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
                            <div class="{% if data.pourcentage_termines < 50 %}bg-red-600{% elif data.pourcentage_termines < 75 %}bg-yellow-600{% else%}bg-green-600{% endif %} text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: {{data.pourcentage_termines|floatformat:0}}%"> {{ data.pourcentage_termines }}%</div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <p class="font-light text-sm text-gray-600 dark:text-gray-100">Aucune progression enregistré pour le moment</p>
        {% endif %}
    </div>
    
</div>

{% endblock content %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>