{% extends "base.html" %}
{% block content %}

<div>
    <div class="lg:flex lg:flex-row justify-between space-y-2 items-center mb-10">
        <h1 class="font-bold text-3xl basis-1/3">Projets</h1>
        
        <form class="max-w-2xl basis-2/3 justify-self-center" method="get" action="{% url "search" %}">
                <div class="flex flex-row">
                    <input type="search" id="query" name="query" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-s-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" placeholder="Rechercher un projet" required />
                    <button type="submit" class=" end-0 p-2.5 h-full text-sm font-medium text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </button>
                </div>
        </form>
    </div>
    <div>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 ">
            {% for projet_data in projets_data %}
            <a href="{% url "projet_detail" projet_data.projet.id %}"> 
                <div class="border border-gray-200 rounded-lg p-4 hover:bg-gray-200">
                    <p class="font-semibold">{{ projet_data.projet.nom }}</p>
                    <p class="text-xs">Dirigé par <span class="font-medium">{{projet_data.projet.proprietaire}}</span></p>
                    <div class="mt-4 {% if projet_data.pourcentage_complets < 50 %}bg-red-600{% elif projet_data.pourcentage_complets < 75 %}bg-yellow-600{% else%}bg-green-600{% endif %} text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: {{projet_data.pourcentage_complets}}%"> {{projet_data.pourcentage_complets}}%</div>
                </div>
            </a>
            {% endfor %}
            </div>
    </div>
</div>

{% endblock content %}