{% extends "base.html" %}
{% block content %}

<div>
    <div class=" mb-10">
        <div class="flex justify-between items-center">
            <h1 class="flex flex-row items-center space-x-4 font-bold text-base">
                <a href="{% url "institution_detail" projet.proprietaire.id %}" class="hover:text-gray-600 hover:underline"><span>{{projet.proprietaire}}</span></a>
                <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                </svg>
                <span>{{projet.nom}}</span>
            </h1>
            <div>
                <button type="button" data-modal-target="projet-modal" data-modal-toggle="projet-modal" class="px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">+ Jalon</button>
            </div>
            <!-- Main modal -->
            <div id="projet-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-md max-h-full">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                Ajouter un Jalon au Projet
                            </h3>
                            <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="projet-modal">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Fermer</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 md:p-5">
                            <form class="space-y-4" method='post' action={% url 'new_jalon' projet.id%}>
                              {% csrf_token %}
                                <div>
                                <input type="text" name="nom" id="nom" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Nom du projet" required />
                                </div>
                                <textarea id="description" name="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Description du projet..."></textarea>
                                <label id="date"><span class="text-sm">Date Echéance</span>
                                    <input type="date" name="date" id="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"required />
                                </label>
                                <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Ajouter</button>
                            </form>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
    <div class="flex space-x-4 ">
        <div class="basis-3/4">
            <h4 class="font-semibold text-lg">Description</h4>
            <p class="font-normal text-sm">{{ projet.description }}</p>
            <div class="mt-5">
                <h4 class="font-semibold text-lg mb-2">Jalons</h4>
                    {% if jalons %}
                    <div id="accordion-open" data-accordion="close">
                        {% for jalon in jalons %}
                        <h2 id="accordion-open-heading-1">
                        <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-y border-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-open-body-{{jalon.id}}" aria-expanded="true" aria-controls="accordion-open-body-{{jalon.id}}">
                            <span class="flex items-center">
                                <svg class="w-5 h-5 {% if jalon.est_complet %} text-green-600 {% else %}text-gray-500 dark:text-white {% endif %} me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd"/>
                                  </svg>
                                {{jalon.nom}}
                            </span>
                            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                            </svg>
                        </button>
                        </h2>
                        <div id="accordion-open-body-{{jalon.id}}" class="hidden" aria-labelledby="accordion-open-heading-1">
                        <div class="p-5 border border-y border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                            <p class=" text-sm mb-1 text-gray-500 dark:text-gray-400">{{jalon.description}}</p>
                            {% if not jalon.est_complet %}<p class="hover:underline text-sm font-medium"><a href="{% url "jalon_fini" jalon.id %}">Terminé</a></p>{% endif%}
                            <div class="mt-5">
                                <h5 class="text-base font-medium">Taches</h5>
                                {% for tache in taches  %}
                                    <ol class="relative border-s border-gray-200 dark:border-gray-700">                  
                                        <li class="mb-10 ms-4">
                                            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                                            <time class="mb-1 text-xs font-light leading-none text-gray-400 dark:text-gray-500">{{tache.date_echeance}}</time>
                                            <h3 class="text-sm font-semibold text-gray-900 dark:text-white">{{tache.nom}}</h3>
                                            <p class="text-xs font-normal text-gray-500 dark:text-gray-400">{{tache.description}}</p>
                                        </li>
                                    </ol>
                                {% endfor %}
                                <p class="text-xs font-light">Aucune tache pour le moment</p>
                            </div>
                        </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p class="text-xs font-light">Aucun jalon pour ce projet</p>
                    {% endif %}
  

            </div>
        </div>
        <div class="basis-1/4 space-y-2">
            <div class="border border-gray-300 rounded-md p-2">
                <h4 class="font-semibold mb-2">Progrésion</h4>
                <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
                    <div class="{% if pourcentage_complets < 50 %}bg-red-600{% elif pourcentage_complets < 75 %}bg-yellow-600{% else%}bg-green-600{% endif %} text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: {{pourcentage_complets}}%"> {{pourcentage_complets}}%</div>
                </div>

            </div>
            <div class="border border-gray-300 rounded-md p-2">
                <h4 class="font-semibold">Echéance</h4>
                <div class="flex flex-row items-center space-x-2">
                    <svg class="w-4 h-5 text-gray-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M4 9.05H3v2h1v-2Zm16 2h1v-2h-1v2ZM10 14a1 1 0 1 0 0 2v-2Zm4 2a1 1 0 1 0 0-2v2Zm-3 1a1 1 0 1 0 2 0h-2Zm2-4a1 1 0 1 0-2 0h2Zm-2-5.95a1 1 0 1 0 2 0h-2Zm2-3a1 1 0 1 0-2 0h2Zm-7 3a1 1 0 0 0 2 0H6Zm2-3a1 1 0 1 0-2 0h2Zm8 3a1 1 0 1 0 2 0h-2Zm2-3a1 1 0 1 0-2 0h2Zm-13 3h14v-2H5v2Zm14 0v12h2v-12h-2Zm0 12H5v2h14v-2Zm-14 0v-12H3v12h2Zm0 0H3a2 2 0 0 0 2 2v-2Zm14 0v2a2 2 0 0 0 2-2h-2Zm0-12h2a2 2 0 0 0-2-2v2Zm-14-2a2 2 0 0 0-2 2h2v-2Zm-1 6h16v-2H4v2ZM10 16h4v-2h-4v2Zm3 1v-4h-2v4h2Zm0-9.95v-3h-2v3h2Zm-5 0v-3H6v3h2Zm10 0v-3h-2v3h2Z"/>
                    </svg>                      
                    <p class="text-xs font-normal text-gray-600">{{ projet.date_debut }} - {{ projet.date_fin }}</p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}